.flag-icon-br {
  background-image: url(./imagens/4x3/br.svg);
}

.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.dropdown-widhout-background {
  .ant-select-dropdown-menu {
    overflow: hidden;
  }

  .ant-select-dropdown-menu-item {
    line-height: 50px;
  }

  .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: transparent;
    transform: scale(1.02);
  }

  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: transparent;
  }

  .ant-select-dropdown-menu-item-selected {
    background-color: transparent;
  }

  .ant-select-dropdown-menu {
    padding: 0px;
  }
}

.flag-icon {
  @extend .flag-icon-background;

  position: relative;
  display: inline-block;
  width: (4 / 3) * 1em;
  // width: 2.7em;
  line-height: 1em;
  &:before {
    content: "\00a0";
  }
  &:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
